<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.leonlatsch.kolibri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.contactpage.ContactActivity"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.InfoActivity" />
        <activity android:name=".ui.chat.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.leonlatsch.kolibri.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.usersearch.UserSearchActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.leonlatsch.kolibri.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ui.ProfilePicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.leonlatsch.kolibri.ui.MainActivity" />
        </activity>
        <activity
            android:name=".boot.BootActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="dev.leonlatsch.kolibri"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="kolibri.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
    </application>

</manifest>